#section1 {
  width: 100%;
  text-shadow: 2px 2px black;
} 
#header {
  text-align: center;
  font-family: "Audiowide", Helvetica, sans-serif;
  font-style: oblique;
  font: bold;
  font-size: 60px;
  color: white;
}
.gradient-text {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px;
  overflow: hidden;
  border: none;
  font: normal 52px/1 "Audiowide", Helvetica, sans-serif;
  color: rgba(255,255,255,0.81);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: -webkit-linear-gradient(-90deg, rgba(180,227,145,0.3) 0, rgba(72,81,65,0.9) 2%, rgba(180,227,145,0.3) 100%), #1abc9c;
  background: -moz-linear-gradient(180deg, rgba(180,227,145,0.3) 0, rgba(72,81,65,0.9) 2%, rgba(180,227,145,0.3) 100%), #1abc9c;
  background: linear-gradient(180deg, rgba(180,227,145,0.3) 0, rgba(72,81,65,0.9) 2%, rgba(180,227,145,0.3) 100%), #1abc9c;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.4) ;
  box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.4) ;
  width: 100%;
  position: relative;
  right: 50px;
  padding-left: 50px;
}
#subHeader {
  text-align: center;
  font-family: "Audiowide", Helvetica, sans-serif;
  font-style: oblique;
  font: bold;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px black;
}

p {
  font-family: "Audiowide", Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px black;
}
body{
  background: linear-gradient(#2ACE9B, #40ed85);
  background-size: cover;
  background-repeat: no-repeat;
}
img{
}
.section2 {
  text-align: center;
  position: relative;
  top: 120px;
  width: 300px;
  height: 100px;
  left: 40%;
  right: 0%;
  border-radius: 10px 10px 0px 0px;
  background-image: url(http://ak8.picdn.net/shutterstock/videos/14663869/thumb/1.jpg);
  border:  8px black;
}
.section3 {
  text-align: center;
  position: relative;
  top: 18px;
  right: 15px;
  width: 300px;
  height: 100px;
  border-radius: 0px 0px 10px 10px;
  background-image: url(http://ak8.picdn.net/shutterstock/videos/14663869/thumb/1.jpg);
  border:  8px black;
}
#dropmenu {
  text-align: center;
  width: 180px;
  font-family: "Audiowide", Helvetica, sans-serif;
}
.choices {
  text-align: center;
}
.options {
  color: black;
  font-size: 30px;
  font-family: "Audiowide", Helvetica, sans-serif;
}
.distanceOptions {
  font-size: 20px;
}
#p2-card-1 {
  width: 650px;
  height: 200px;
  text-align: center;
  position: relative;
  left: 20px;
  background: #8be0e0;
  border: 1px solid black;
  font-family: "Audiowide", Helvetica, sans-serif;
  border-radius: 10px 10px 10px 10px;
}
#p2-card-2 {
  width: 650px;
  height: 200px;
  text-align: center;
  position: relative;
  left: 60px;
  background: #8be0e0;
  border: 1px solid black;
  font-family: "Audiowide", Helvetica, sans-serif;
  border-radius: 10px 10px 10px 10px;

}
#p2-card-3 {
  width: 650px;
  height: 200px;
  text-align: center;
  position: relative;
  left: 20px;
  background: #8be0e0;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  font-family: "Audiowide", Helvetica, sans-serif;
}
#p2-card-4 {
  width: 650px;
  height: 200px;
  text-align: center;
  position: relative;
  left: 60px;
  background: #8be0e0;
  border: 1px solid black;
  font-family: "Audiowide", Helvetica, sans-serif;
  border-radius: 10px 10px 10px 10px;
}
#p2-card-5{}
.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 250px;
  height: 42px;
  position: relative;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*margin: 26px;*/
  margin:0;
  /*padding: 0 20px 0 0;*/
  padding: 0 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  font: normal 19px/normal "Audiowide", Helvetica, sans-serif;
  color: rgba(103,229,162,1);
  text-decoration: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(40,40,40,0.4);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.button:hover {  
  position: static;
  margin: 0;
  padding: 0 20px;
  font: normal 20px/normal "Audiowide", Helvetica, sans-serif;
  color: rgba(181,181,181,1);
  background: rgba(0,0,0,0.4);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.button:focus {
  width: 213px;
  cursor: default;
  padding: -13px 20px 0;
  color: rgba(255,255,255,1);
  -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 150px;
  height: 50px;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid rgb(30,205,151);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font: normal 37px/70px "Audiowide", Helvetica, sans-serif;
  color: rgb(30, 205, 151);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  padding-bottom: 16px;
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}
.enjoy-css:hover {
  color: rgba(255,255,255,1);
  background: rgb(30, 205, 151);
}

.enjoy-css:active {
  border: 2px solid rgba(33,224,163,1);
  background: rgba(33,224,163,1);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.info-css:hover {
  color: rgba(255,255,255,1);
  background: rgb(30, 205, 151);
}

.info-css:active {
  border: 2px solid rgba(33,224,163,1);
  background: rgba(33,224,163,1);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.info-css {
 -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 150px;
  height: 50px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 2px solid rgba(255,255,255,0.81);
  color: rgba(255,255,255,0.81);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font: normal 37px/70px "Audiowide", Helvetica, sans-serif;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  padding-bottom: 16px;
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}
#kid {
  height: 300px;
  width: 450px;
  padding-bottom: 25px;
  padding-left: 25px;
}
#fat {
  height: 300px;
  width: 450px;
  padding-bottom: 25px;
  padding-right: 25px;
}
#p3-card-1 {
  width: 650px;
  height: 200px;
  text-align: center;
  position: relative;
  left: 28%;
  font-family: "Audiowide", Helvetica, sans-serif;
  background: #8be0e0;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
}
#p3-card-2 {
  width: 650px;
  height: 200px;
  text-align: center;
  position: relative;
  left: 0%;
  font-family: "Audiowide", Helvetica, sans-serif;
  margin-top: 200px;
  background: #8be0e0;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
}